services:
  apisix:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    user: root
    dns:
      - 8.8.8.8
      - 8.8.4.4
    volumes:
      - ./apisix_conf/config.yaml:/usr/local/apisix/conf/config.yaml:ro
    depends_on:
      - etcd
    ports:
      - "9180:9180"   # Admin API
      - "9080:9080"   # HTTP 网关
      - "5005:5005"   # JDWP 远程调试端口（可选）
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - apisix
    environment:
      - APISIX_DEPLOYMENT_ETCD_HOST=["http://etcd:2379"]
      - SPRING_DATA_REDIS_HOST=host.docker.internal
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_DATA_REDIS_PASSWORD=redis123
  
  etcd:
    image: openeuler/etcd:latest
    platform: linux/arm64
    restart: always
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_ENABLE_V2=true
      - ETCD_DATA_DIR=/etcd-data
    volumes:
      - etcd-data:/etcd-data
    networks:
      - apisix

volumes:
  etcd-data:

networks:
  apisix:
    driver: bridge