version: "3"

services:
  apisix:
    image: apache/apisix:3.14.1-debian
    restart: always
    user: root
    dns:
      - 8.8.8.8
      - 8.8.4.4
    volumes:
      - ./apisix_conf/config.yaml:/usr/local/apisix/conf/config.yaml:ro
      - ./tmp:/tmp:rw
    depends_on:
      - etcd
      - java-plugin-runner
    ports:
      - "9180:9180"   # Admin API
      - "9080:9080"   # HTTP 网关
    networks:
      - apisix
    environment:
      - APISIX_DEPLOYMENT_ETCD_HOST=["http://etcd:2379"]
  etcd:
    image: openeuler/etcd:latest
    platform: linux/arm64
    restart: always
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_ENABLE_V2=true
      - ETCD_DATA_DIR=/etcd-data
    volumes:
      - etcd-data:/etcd-data
    networks:
      - apisix

  java-plugin-runner:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./tmp:/tmp:rw
    networks:
      - apisix
    environment:
      - SOCKET_FILE=/tmp/runner.sock
      - SOCKET_FILE_MODE=777

volumes:
  etcd-data:

networks:
  apisix:
    driver: bridge